page-confirmation {
  ion-content {
    background-image: $gradient-sm;
  }
  .full--height {
    height: 100%;
  }
  ion-spinner * {
    width: 48px;
    height: 48px;
    stroke: color($colors, white)!important;
  }
}
