<ion-header no-shadow no-border>
  <ion-navbar color="transparent">
    <ion-title>Confirmation</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row padding-vertical>
    <ion-col text-center padding margin-vertical ion-text color="white">
      <h5 *ngIf="isSending" class="font--weight__light" margin-bottom>YOU'VE SENT</h5>
      <h5 *ngIf="!isSending" class="font--weight__light" margin-bottom>YOU'VE RECEIVED</h5>
      <ion-icon class="icon--success" md-name="check_circle"></ion-icon>
      <h1 no-margin margin-top padding-top>{{ amount * ethPrice.ethPrice | number : '1.2-4' }} <small>CHF</small></h1>
      <h5 no-margin>{{ amount | number : '1.2-4' }} <small>ETH</small></h5>
    </ion-col>
  </ion-row>
  <ion-row class="background--color__gradient__cut" padding-vertical>
    <ion-col text-center>
      <img class="profile--img" src="{{contact?.photoLarge}}">
    </ion-col>
  </ion-row>
  <ion-row class="background--color__white" padding-bottom>
    <ion-col text-center>
      <h5 no-margin>{{contact?.name}}</h5>
      <p no-margin>{{contact?.date}}</p>
    </ion-col>
  </ion-row>
  <ion-row class="background--color__white height__full">
    <ion-col padding>
      <button ion-button icon-left full round color="primary" (click)="openHome()">
        Done
      </button>
    </ion-col>
  </ion-row>
</ion-content>

<!-- TODO: use spinner
<ion-content>
  <ion-row class="full--height" justify-content-center align-items-center>
    <ion-spinner></ion-spinner>
  </ion-row>
</ion-content>
-->