<ion-header no-shadow no-border>
  <ion-navbar color="transparent">
    <ion-title>Select Recipient</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>Already on Radium</ion-list-header>
    <ion-item *ngFor="let c of myContacts" (click)="selectRecipient(c)">
      <ion-avatar item-start>
        <img [src]="sanitizeImage(c.photo)">
      </ion-avatar>
      <h2>{{c.name}}</h2>
      <p>{{c.phoneNumber}}</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Other contacts</ion-list-header>
    <ion-item *ngFor="let c of myOtherContacts" (click)="selectRecipient(c)">
      <ion-avatar item-start>
        <img [src]="sanitizeImage(c.photo)">
      </ion-avatar>
      <h2>{{c.name}}</h2>
      <p>{{c.phoneNumber}}</p>
    </ion-item>
  </ion-list>
</ion-content>